.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 5px;
  background-image: url("https://imgs.search.brave.com/XPQHcZeWV6kyx3FoHiwKCdGSerWcqG7e4luzxO-8zhQ/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/Z3JhdGlzdG9kby5j/b20vd3AtY29udGVu/dC91cGxvYWRzLzIw/MTYvMTAvZm9uZG9z/LWRlLXBhbnRhbGxh/LWRlLW90byVDMyVC/MW8td2FsbHBhcGVy/cy5qcGc");
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;
}
